html,body{
    background: #fff;
    width: 100%;
    height: 100%;
    color: #fff;
    font-family: 'Roboto',"Helvetica Neue", Helvetica, Arial, sans-serif;
}

.container-fluid{
    width: 100%;
    height: 100%;
    background: url("../img/bg.jpg") center;
    background-size: cover;
    margin: 0;
    padding: 0;

}

.centerAll{
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.wrapper{
    background-color: rgba(0,0,0,0.4);
    position: relative;
    width: 100%;
    height: 100%;
    display: table;
}

main{
    padding-top: 130px;
}

main figure {
    display: inline-block;
    margin-right: 10%;
}
main figure:last-child {
    margin: 0;
}

figure a,figure a:hover,figure a:active{
    color: #ffffff;
    text-decoration: none;
}

figure span{
    display: block;
    width: 125px;
    height: 125px;
    margin: 0 auto 20px;
    color: #fff;
    font-size: 5em;
    line-height: 115px;
    border: 3px solid #fff;
    border-radius: 100px;
    transition: 0.35s;
}

figure span:not(:hover){
    transition: 0.5s;
}

@media screen and (max-width: 750px){
    figure span{
        font-size: 4em;
        width: 115px;
        height: 115px;
        line-height: 105px;
    }
}

@media screen and (max-width: 650px){
    figure span{
        font-size: 3em;
        width: 100px;
        height: 100px;
        line-height: 90px;
    }
}

@media screen and (max-width: 550px){
    figure span{
        font-size: 3.5m;
        width: 90px;
        height: 90px;
        line-height: 80px;
    }
}

@media screen and (max-width: 450px){
    figure span{
        font-size: 3em;
        width: 70px;
        height: 70px;
        line-height: 60px;
    }
}

@media screen and (max-width: 300px){

    main figure{
        display: block;
    }
    figure span{
        font-size: 3em;
        width: 70px;
        height: 70px;
        line-height: 60px;
    }
}

figure span:hover{
    color: #926247;
    background: #fff;
}

figure span:active{
    color: #926247;
    background: #CECECE;
    border-color: #CECECE;
}

#blog span{

}

#projects span{

}

#contacts span{
    /*line-height: 120px;*/
}

header{
    position: absolute;
    top: 10%;
    text-align: center;
    margin: 0 auto;
    width: 100%;
}

header h1{
    font-size: 10em;
    margin-bottom: 50px;
    font-weight: 300;
}

@media screen and (max-width: 1150px){
    header h1{
        font-size: 9em;
    }
}
@media screen and (max-width: 1000px){
    header h1{
        font-size: 8em;
    }
}

@media screen and (max-width: 900px){
    header h1{
        font-size: 7em;
    }
}

@media screen and (max-width: 750px){
    header h1{
        font-size: 6em;
    }
}

@media screen and (max-width: 650px){
    header h1{
        font-size: 5em;
    }
}

@media screen and (max-width: 550px){
    header h1{
        font-size: 4em;
    }
}

@media screen and (max-width: 450px){
    header h1{
        font-size: 4.5em;
    }
}

footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    font-size: 1.5em;
    font-weight: 100;
    padding-bottom: 30px;
}

footer a{
    color: #fff;
    text-decoration: none;
}

footer a:hover{
    text-decoration: none;
    color: #eeeeee;
}

footer a:active{
    color: #ddd;
}

@media screen and (max-height: 400px){

    figure span{
        font-size: 2.5em;
        width: 60px;
        height: 60px;
        line-height: 50px;
    }

    footer{
        padding-bottom: 15px !important;
    }
}

@media screen and (max-height: 380px){

    figure span{
        font-size: 2em;
        width: 60px;
        height: 60px;
        line-height: 50px;
    }

    footer {
        padding-bottom: 5px !important;
    }
}